<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484365200433-18khnjvu7j49e9rmto8rsjqqgvbt8mqu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484365200433-18khnjvu7j49e9rmto8rsjqqgvbt8mqu</string>
	<key>API_KEY</key>
	<string>AIzaSyB6BpJ9xLnPdiZC89BVj9gpexYo_7z3eYY</string>
	<key>GCM_SENDER_ID</key>
	<string>484365200433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.passport.photo.maker</string>
	<key>PROJECT_ID</key>
	<string>passportphoto-7f95b</string>
	<key>STORAGE_BUCKET</key>
	<string>passportphoto-7f95b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484365200433:ios:617c82ae55bdbb4d0cb910</string>
</dict>
</plist>